@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background-color: #090909 !important;
    scroll-behavior: smooth;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

.nav{
    background-color: #090909;
    font-family: 'Montserrat', sans-serif;
    color:white;
}

.nav-top{
    display: inline;
    margin-top: 3em;
    width: 100%;
}

.nav-cur{
    display: inline;
    user-select: none;
    cursor: pointer;
}

#inr{
    display: inline;
    cursor: pointer;
    margin-left: 0.3em;
}

.nav-logo{
    margin-top: 0;
    display: inline;
    text-align: center;
    margin-top: -3em;
}

.nav-logo:hover{
    animation: logoglow 1s 1;
    /* animation-; */
}

.nav-no{
    display: inline;
    float: right;
    margin-top: -3.8em;
}